@{
    ViewData["Title"] = "Home Page";
}


    <img src="~/images/DXC-2.png" height="450" width="1300" class="rounded mx-auto d-block" alt="DXC Logo">


<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h2>MDC Configurational</h2>
        <ul>
            <li><a href="https://localhost:44364/vulnerabilities/SeverityFive">Severity 5</a></li>
            <li><a href="https://localhost:44364/vulnerabilities/SeverityFour">Severity 4</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>MPC Configurational</h2>
        <ul>
            <li><a href="https://localhost:44364/vulnerabilities/SeverityFiveMpcConfig">Severity 5</a></li>
            <li><a href="https://localhost:44364/vulnerabilities/SeverityFourMpcConfig">Severity 4</a></li>


        </ul>
    </div>
    <div class="col-md-4">
        <h2>MPC Missing Patch</h2>
        <ul>
            <li><a href="https://localhost:44364/vulnerabilities/SeverityFiveMpcPatch">Severity 5</a></li>
            <li><a href="https://localhost:44364/vulnerabilities/SeverityFourMpcPatch">Severity 4</a></li>
        </ul>
    </div>

</div>
